html,
body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Varela Round', sans-serif;
}

/* *** *** *** */
/*             */
/*  Parallax   */
/*             */
/* *** *** *** */

.parallax {
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    display: table;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.parallax-content {
    width: 100%;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}

#main-name {
    text-shadow: 4px 4px 4px #000000;
    font-size: 8vh;
    color: white;
}

/* HEADER */
.header {
    width: 25rem;
    margin: 0 auto; 
    height: 1rem; 
    border-bottom: 2px solid black; 
    text-align: center
}

.name {
    font-size: 2rem; 
    background-color: #F3F5F6;
    padding: 0 10px;
}

.name-label {
    color: #678;
    padding-top: .5rem;
}

.experience {
	width: 60vw;
    margin: 0 auto;
    text-align: left;
}

.experience-image {
    width: 15rem;
    height: auto;
    border-radius: 50%;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.experience-title {
    margin-top: -0.75rem;
    margin-bottom: -0.75rem;
}

.experience-info {
    margin: auto;
    vertical-align: middle;
    text-align: left;
    font-size: 1rem;
}

.work-info {
    display: inline-block;
    width: 62%;
    padding-left: 2rem;
}

.date {
    font-size: small;
    font-style: italic;
}

.experience-wrapper {
  overflow:hidden;
  width: 75vw;
  margin: 0 auto;
}

.experience-wrapper div {
   min-height: 200px;
   padding: 10px;
}

.one {
  float:left; 
  margin-right:20px;
}
.two { 
  overflow:hidden;
  margin:10px;
  min-height:170px;
}

@media screen and (max-width: 700px) {
   .one { 
    float: none;
    margin-right:0;
    width:auto;
    border:0;
    margin-bottom: 5px;
    border-bottom: 2px solid #000;    
  }
  .experience-image {
    width: 60%;
    height: auto;
    padding-left: 20%;
    padding-right: 20%;
    }
}

/* *** *** *** */
/*             */
/*     Work    */
/*             */
/* *** *** *** */

.work-name {
    text-shadow: 4px 4px 4px #000000;
    font-size: 2rem;
    color: white;
}

/* *** *** *** */
/*             */
/*    Intro    */
/*             */
/* *** *** *** */

.intro {
    height: auto;
    background-color:whitesmoke;
    font-size:1rem;
    padding: 10px;
    text-align: center;
}

.intro p {
    width: 35vw;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.profile-pic {
    width:30vh;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 50%;
}


/* *** *** *** */
/*             */
/*  Experience */
/*             */
/* *** *** *** */

.experience-card {
    width: 40vh;
    height: 20vh;
    padding: 20px;
    display: inline-block;
	font-size: 1.75vh;
}

.experience-card:hover {
    box-shadow: 2px 2px 5px 0px gray;
    cursor: pointer;
}

.no-hover:hover {
    box-shadow: none !important;
    cursor: unset !important;
}

#experience-table {
    min-width: 90vh;
    background-color: whitesmoke;
    padding-bottom: 4vh;
    padding-top: 4vh;
	margin: 0 auto;
}

#experience-table tr {
    margin: auto;
    min-width: 100%;
}

#experience-table tr td {
    margin: 5vh;
    margin-bottom: 1vh !important;
    margin-top: 1vh !important;
}

.experience-description {
	width: 75%;
	margin: 0 auto;
	background-color: white;
	height: 30vh;
	font-size: 1.75vh;
	display: table; 
}

.experience-description h3 {
	width: 10%;
	margin: 0 auto;
}

.experience-description p {
	vertical-align: middle;
	display: table-cell;
}

@media screen and (max-width: 700px) {
   .intro p {
       width: 80vw;
   }
}



