html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /*font-family: 'Varela Round', sans-serif;*/
}

/* *** *** *** */
/*             */
/*  Parallax   */
/*             */
/* *** *** *** */

.parallax {
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    display: table;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.parallax-content {
    width: 100%;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}

#main-name {
    text-shadow: 4px 4px 4px #000000;
    font-size: 8vh;
    color: white;
}

@media screen and (max-width: 780px) {
    .parallax {
        background-attachment: scroll;
    }
}

/* Main section */
.main {
    width: 90vw;
    background-color: whitesmoke;
    margin: 0 auto;
    border-radius: 0.4rem;
    padding-top: 15vh;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


/* HEADER */
.header {
    width: 25rem;
    margin: 0 auto; 
    height: 1rem; 
    border-bottom: 2px solid black; 
    text-align: center
}

.name {
    font-size: 2rem; 
    background-color: #F3F5F6;
    padding: 0 10px;
}

.name-label {
    color: #678;
    padding-top: .5rem;
}

.experience {
	width: 75%;
    margin: 0 auto;
    text-align: left;
}

.experience-image {
    width: 12.5rem;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.experience-title {
    margin-top: -0.75rem;
    margin-bottom: -0.75rem;
    color: #678;
}

.experience-info {
    margin: auto;
    vertical-align: middle;
    text-align: left;
    font-size: 1rem;
}

.work-info {
    display: inline-block;
    width: 62%;
    padding-left: 2rem;
}

.date {
    font-size: small;
    font-style: italic;
    color: #678;
}

.experience-wrapper {
  overflow:hidden;
  width: 80%;
  margin: 0 auto;
}

.experience-wrapper div {
   min-height: 200px;
   padding: 10px;
}

.one {
  float:left; 
  margin-right:20px;
}
.two { 
  overflow:hidden;
  margin:10px;
  min-height:170px;
}

@media screen and (max-width: 800px) {
   .one { 
    float: none;
    margin-right:0;
    width: 80vw !important;
    margin: 0 auto;
    border:0;
    margin-bottom: 5px;
    border-bottom: 1px solid gray;    
  }
  .experience-image {
    width: 12.5rem;
    height: auto;
    padding-left: 20%;
    padding-right: 20%;
    }
    .experience-wrapper {
        width: 90vw;
      }
}

/* *** *** *** */
/*             */
/*     Work    */
/*             */
/* *** *** *** */

.work-name {
    text-shadow: 4px 4px 4px #000000;
    font-size: 2rem;
    color: white;
}

/* *** *** *** */
/*             */
/*    Intro    */
/*             */
/* *** *** *** */

.intro {
    height: auto;
    font-size:1rem;
    padding: 10px;
    text-align: center;
}

.intro p {
    width: 75%;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.profile-pic {
    width:30vh;
    height: auto;
    display: block;
    margin: auto;
    border: 0.25rem white solid;
    margin-top: 3vh;
    margin-bottom: -15vh;
    border-radius: 50%;
    position: relative;
    z-index: 100;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.courses {
    width: 65vw;
    margin: 0 auto;
}

.course {
    padding-left: 1rem;
    padding-right: 1rem;
}

.course-title {
    margin-top: -0.75rem;
    margin-bottom: -0.75rem;
}

.course-left {
    float:left;
    width: 30vw;
    margin-right: 2vw;
  }
.course-right { 
    overflow:hidden;
    width: 30vw;
    margin-left: 2vw;
  }
  
.no-border {
    border: 0 !important;
}

.footer {
    height: 3vh;
    /*background: #678;*/
}

.copyright {
    color: whitesmoke;
    text-align: center;
    padding-top: 0.5vh;
    padding-bottom: 0.75vh;
}

  @media screen and (max-width: 1000px) {
     .course-left {
      float: none;
      margin-right:0;
      width: 80vw !important;
      margin: 0 auto;
      border-bottom: 1px solid gray;
      margin-top: 1rem;    
    }
    .course-right {
      margin-left:0;
      width: 80vw !important;
      margin: 0 auto;
      margin-top: 1rem;
      border-bottom: 1px solid gray;  
    }
    .courses {
        width: 90vw;
    }
  }

@media screen and (max-width: 700px) {
   .intro p {
       width: 80vw;
   }
}



